<div *ngIf="productDataAvailable()">
  <h2>Update Product</h2>
  <br/>
  <form [formGroup]="productForm">
    <div class="form-group">
      <label for="id">Product Id</label>
      <input class="form-control" formControlName="id" id="id" name="id"type="text">
      <small class="form-text text-muted" id="emailHelp"></small>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" formControlName="name" id="name" type="text">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input  type="text" class="form-control" formControlName="description" id="description" required>
    </div>
    <div class="form-group">
      <label for="currency">Price</label> <br/>
      <label>
        <select class="form-control" formControlName="currency" id="currency" name="currency">
          <option *ngFor="let currency of currencies">
            {{currency.name}}
          </option>
        </select>
      </label>
      <input formControlName="amount" id="amount" required style="margin: 10px; padding: 5px" type="text">
    </div>

    <div class="form-group">
      <label>Category:
        <select class="form-control" formControlName="category" name="category">
          <option *ngFor="let category of categories">
            {{category.name}}
          </option>
        </select>
      </label>
    </div>

    <div class="form-group">
      <label>Manufacturer:
        <select class="form-control" formControlName="manufacturer" name="manufacturer">
          <option *ngFor="let manufacturer of manufacturers" >
            {{manufacturer.name}}
          </option>
        </select>
      </label>
    </div>

    <button (click)="updateProduct()" class="btn btn-primary" type="submit">Submit</button>
    <button (click)="goBack()" class="btn btn-primary" style="margin-left: 30px" type="button">Cancel</button>

  </form>

</div>
