<div >
  <h3 style="text-align: center" > Categories List</h3>
  <div  *ngIf="categoriesDataAvailable()">
    <table class="table table-bordered">
      <tr style="text-align: center" >
        <th> Category Id</th>
        <th>Category Name</th>
      </tr>

      <tr *ngFor="let category of (categoryObservable)" style="text-align: center" >
        <td><a [routerLink]="['/category', category.id]">{{category.id}}</a></td>
        <td><a [routerLink]="['/category', category.id]">{{category.name}}</a></td>
      </tr>
    </table>
  </div>

  <br/><br/><br/><br/><br/>

  <a routerLink="/home">Click here to Home</a>
</div>
