<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Home</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Orders</a>
      <a class="nav-item nav-link" href="#">Products</a>
      <a class="nav-item nav-link" href="#">OrderedProducts</a>
      <a class="nav-item nav-link" href="#">Addresses</a>
      <a class="nav-item nav-link" href="/city">Cities</a>
      <a class="nav-item nav-link" href="/state">States</a>
      <a class="nav-item nav-link" href="/country">Countries</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
</nav>
