<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  color="#fff"
  size="large"
  type="ball-elastic-dots"
></ngx-spinner>

<div>
  <h2>Edit Profile</h2>

  <br />
  <form [formGroup]="userProfileForm">
    <div class="form-row">
      <div class="col-auto">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          formControlName="firstName"
          required
          placeholder="First name"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="col-auto">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          formControlName="lastName"
          required
          placeholder="Last Name"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="col-auto">
        <label for="email">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          formControlName="email"
          required
          placeholder="Enter email"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="col-auto">
        <label for="phone">Phone</label>
        <input
          type="text"
          class="form-control"
          formControlName="phone"
          id="phone"
          placeholder="Enter phone"
          required
        />
      </div>
    </div>
    <br />
    <div>
      <h3>Addresses:</h3>
      <br />
      <div>
        <button
          (click)="openModal(addressEditModal, null)"
          class="btn btn-primary"
          type="button"
        >
          Create New
        </button>
        <br />
        <br />
      </div>
      <div *ngFor="let address of addresses">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <div class="form-group">
              <b>{{ address.addressType.type }}:</b> <br />
              <label
                >{{ address.streetName }} Apt {{ address.apartment }}</label
              >
              <br />
              <label
                >{{ address.city.name }}, {{ address.state.code }} -
                {{ address.zipCode }}</label
              >
              <br />
              <label>{{ address.country.name }}</label>
            </div>
            <button
              (click)="openModal(addressEditModal, address)"
              class="btn btn-primary"
              type="button"
            >
              Edit
            </button>
            <button
              (click)="deleteAddress(address)"
              class="btn btn-danger"
              type="button"
              style="margin: 20px;"
            >
              Delete
            </button>
          </div>
        </div>
        <br />
      </div>

      <ng-template #addressEditModal>
        <div (click)="modalRef.hide()" class="modal-header">
          <h3 class="modal-title">Edit Address</h3>
          <button
            aria-label="Close"
            class="close"
            data-dismiss="modal"
            type="button"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div formGroupName="address">
            <div class="form-group">
              <label
                >Address Type
                <select
                  [compareWith]="compareAddressTypeFn"
                  class="form-control"
                  formControlName="addressType"
                  name="addressType"
                >
                  <option
                    *ngFor="let addressType of addressTypes"
                    [ngValue]="addressType"
                  >
                    {{ addressType.type }}
                  </option>
                </select>
              </label>
            </div>

            <div class="form-row">
              <div class="col-6">
                <label for="streetName">Street Name</label>
                <input
                  class="form-control"
                  formControlName="streetName"
                  id="streetName"
                  placeholder="Enter Street Name"
                  required
                  type="text"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <label for="apartment">Apartment</label>
                <input
                  class="form-control"
                  formControlName="apartment"
                  id="apartment"
                  placeholder="Enter Apartment Number"
                  required
                  type="text"
                />
              </div>
            </div>
            <div class="form-group">
              <label
                >Country
                <select
                  (change)="loadStates()"
                  [compareWith]="compareCountryFn"
                  class="form-control"
                  formControlName="country"
                  name="country"
                >
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>
              </label>
            </div>

            <div class="form-group">
              <label
                >State
                <select
                  (change)="loadCities()"
                  [compareWith]="compareStateFn"
                  class="form-control"
                  formControlName="state"
                  name="state"
                >
                  <option *ngFor="let state of states" [ngValue]="state">
                    {{ state.name }}
                  </option>
                </select>
              </label>
            </div>

            <div class="form-group">
              <label
                >City
                <select
                  [compareWith]="compareCityFn"
                  class="form-control"
                  formControlName="city"
                  name="city"
                >
                  <option *ngFor="let city of cities" [ngValue]="city">
                    {{ city.name }}
                  </option>
                </select>
              </label>
            </div>
            <div class="form-row">
              <div class="col-3">
                <label for="zipCode">Zip Code</label>
                <input
                  class="form-control"
                  formControlName="zipCode"
                  id="zipCode"
                  placeholder="Enter Zip Code"
                  required
                  type="text"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            (click)="updateUserAddress()"
            class="btn btn-primary"
            type="button"
          >
            Update
          </button>
          <button
            (click)="modalRef.hide()"
            class="btn btn-danger"
            type="button"
          >
            Cancel
          </button>
        </div>
      </ng-template>
    </div>
    <br />
    <br />
    <br />
    <button type="submit" class="btn btn-primary" (click)="updateUserProfile()">
      Update
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      style="margin-left: 30px;"
      (click)="goBack()"
    >
      Cancel
    </button>
  </form>
</div>
