.fa-heart {
  color: hotpink;
}
.assistance_div {
  margin-right: auto;
  margin-left: auto;
}
/*.custom-footer
{
  background: #3f51b5;
  text-align: center !important;
  min-height: 100px;
  margin-top: 100px;
  overflow: auto;
  display: flex;
  flex-flow: column;
}*/

.custom-footer {
  background: #3f51b5;
  text-align: center !important;
  position: relative;
  margin-top: -100px; /* negative value of footer height */
  height: 100px;
  clear: both;
  bottom: 0;
}

.custom-navbar-text {
  padding-top: 0;
  padding-bottom: 0;
}
