
<nav class="navbar  navbar-dark mat-toolbar custom-footer" style=" font-size: 13px; padding-bottom: 20px">
  <div class="row col-12 navbar-text custom-navbar-text"  id="assistance_div">
    <label class="col-3">
      <a  routerLink="" rel="noopener noreferrer" style="font-size: 16px">
        Need Assistance? Click here
      </a>
    </label>
    <label style="float: right">Version: {{appVersion}}</label>
  </div>

  <div class="row col-12 navbar-expand m-auto navbar-text custom-navbar-text">
    <a  style="margin: 10px" href="https://ccr.cancer.gov"  rel="noopener noreferrer" target="_blank">
      Center for Cancer Research
    </a>
    <span style="margin-left: 5px; margin-right: 5px;">|</span>

    <a style="margin: 10px" href="https://github.com/pavankjadda"  rel="noopener noreferrer" target="_blank">
      <i class="fa fa-github"></i>
    </a>

    <a style="margin: 10px" href="https://twitter.com/pavankjadda"  rel="noopener noreferrer" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
      <a style="margin: 10px" href="https://medium.com/@jpavanaryan"  rel="noopener noreferrer" target="_blank">
      <i class="fa fa-medium"></i>
    </a>
  </div>
</nav>
