<nav class="navbar navbar-dark mat-toolbar custom-footer" style="font-size: 13px; padding-bottom: 20px">
	<div class="row col-12 navbar-expand m-auto navbar-text custom-navbar-text">
		<a href="https://github.com/pavankjadda" rel="noopener noreferrer" style="margin: 10px" target="_blank">
			<i class="fa fa-github" style="font-size: 20px"></i>
		</a>

		<a href="https://twitter.com/pavankjadda" rel="noopener noreferrer" style="margin: 10px" target="_blank">
			<i class="fa fa-twitter" style="font-size: 20px"></i>
		</a>
		<a href="https://medium.com/@jpavanaryan" rel="noopener noreferrer" style="margin: 10px" target="_blank">
			<i class="fa fa-medium" style="font-size: 20px"></i>
		</a>
		<label style="float: right">Version: {{ appVersion }}</label>
	</div>
</nav>
